{% extends 'xlsx/base/base.html' %}
{% block subtitle %}Config grid{% endblock subtitle %}
{% block content %}
{% include 'core/includes/messages.html' %}
    <div class="card">
        <div class="card-body">

            <div class="col-lg-12">
                <p class="d-inline-flex gap-1">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterBox"><i class="bi bi-funnel"></i></button>
                </p>
                <div class="collapse" id="filterBox">
                    <div class="card card-body">
                        {% if filter_form %}
                            <form class="row g-1" novalidate method='GET'>
                                {% include 'core/includes/form_render.html' with form=filter_form title='Available filters' only  %}
                                <div class='mt-2'>
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">App</th>
                            <th scope="col">Model</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if config_records|length > 0 %}
                                {% for item in config_records %}
                                    <tr>
                                        <td>{{item.app}}</td>
                                        <td>{{item.model}}</td>
                                        <td>{{item.get_status_display}}</td>
                                        <td>
                                            <span><a href='{% url "xlsx:template_grid" config_id=item.id %}?type=export' title='Export configuration'><i class="bi bi-journal-arrow-down"></i></a></span>
                                            <span><a href='{% url "xlsx:template_grid" config_id=item.id %}?type=import' title='Import configuration'><i class="bi bi-journal-arrow-up"></i></i></a></span>
                                            <span><a href='#' title='Disable'><i class="bi bi-x-octagon"></i></a></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan='6' class='text-center fw-bold'>Results not found...</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include 'core/includes/pagination.html' %}

        </div>
    </div>
{% endblock content %}