{% extends 'xlsx/base/base.html' %}
{% block subtitle %}Update supplier{% endblock subtitle %}
{% block content %}
{% include 'core/includes/messages.html' %}
    <div class="card">
        <div class="card-body">
            {% if form %}
                <form method='POST' novalidate>
                    <h4 class='card-title'>Supplier details(<span class='fs-5'>{{object.id}}</span>)</h4>
                    {% include 'core/includes/form_render.html' with form=form only  %}
                    <div class='mt-2'>
                        {% csrf_token %}
                        <button class='btn btn-success' type='submit'></i><i class="bi bi-pencil-square"></i> Update supplier</button>
                    </div>
                </form>
            {% else %}
                <div class='mt-2'>
                    <h6>No form provide</h6>
                </div>
            {% endif %}
            <hr>
            <a href='{% url "xlsx:supplier_grid" %}' class='btn btn-warning'>Return to grid</a>
        </div>
    </div>
{% endblock content %}